[Desktop Entry]
Name=Niri
Comment=A scrollable-tiling Wayland compositor
Exec=/home/<ваше_имя>/.local/bin/start-niri
Type=Application
DesktopNames=niri